<div class="list-group">
    <a v-repeat="message: messages" v-class="active: selectedMessage && selectedMessage.id == message.id" class="list-group-item clearfix" href="#/messages/{{message.id}}" v-on="click: setMessage(message)">
        <span class="pull-left">{{ message.title }}</span>
        <span class="pull-right">
            <i class="fa fa-folder-o" v-show="message.read == false"></i>
            <i class="fa fa-folder-open-o" v-show="message.read"></i>
        </span>
    </a>
</div>

<div v-if="selectedMessageComputed">
    
    <hr>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ selectedMessageComputed.title }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    {{ selectedMessageComputed.content }}
                </div>
            </div>
        </div>
    </div>
</div>